---
interface Faq {
  question: string;
  answer: string;
}

interface Props {
  faqs: Faq[];
}
const { faqs } = Astro.props;
---
<section class="section">
  <div class="w-layout-blockcontainer container w-container">
    <div class="section-inner">
      <div class="title-wrap">
        <div class="title-inner">
          <div class="subtitle">
            <div class="caption">FAQ</div>
          </div>
          <h2 class="title-heading animate-on-scroll animate-fade-up integration-width">Preguntas Frecuentes</h2>
        </div>
        <p class="title-paragraph black">Resuelve tus dudas. Si necesitas más información, nuestro equipo de soporte está disponible para asesorarte en todo momento.</p>
      </div>
      <div class="faq-wrap">
        <div class="faq-content" style="width: 100%;">
          {faqs && faqs.map((faq) => (
            <div class="faq w-dropdown" data-hover="false">
              <div class="question-block w-dropdown-toggle">
                <h6 class="heading-21" style="margin: 0; font-size: 16px;">{faq.question}</h6>
                <div class="faq-icon">
                  <div class="vertical-line"></div>
                  <div class="horizontal-line"></div>
                </div>
              </div>
              <nav class="answer-block w-dropdown-list">
                <div class="faq-answer">
                  <p>{faq.answer}</p>
                </div>
              </nav>
            </div>
          ))}
        </div>
      </div>
    </div>
  </div>
</section>
