---
import MainLayout from '../layouts/MainLayout.astro';
import Footer from '../components/Footer.astro';

const seo = {
  title: "Cookie Policy - Kontrolo | Software ERP y Facturación DIAN",
  description: "Descubre Kontrolo, el software integral que centraliza PMS, ERP y POS con facturación electrónica DIAN. Agenda tu demo gratis."
};
---
<MainLayout seo={seo}>
<div class="page-wrap">
<section class="title-section">
<div class="w-layout-blockcontainer container w-container">
<div class="title-inner">
<div class="subtitle">
<div class="caption">utility</div>
</div>
<h2 >Cookie Policy</h2>
</div>
</div>
</section>
<section class="section to-top">
<div class="w-layout-blockcontainer container w-container">
<div class="info-wrap" >
<div>
<h4 class="info-title">What are Cookies?</h4>
<div class="info-block">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque maximus auctor neque quis ullamcorper. Curabitur placerat elit lacinia, pharetra libero id, dictum nunc. Praesent egestas vehicula nisi et venenatis. Pellentesque bibendum sem ac mi bibendum euismod. Sed arcu tortor, malesuada rhoncus nulla nec, rutrum lacinia tellus. Donec a diam condimentum, lobortis leo non, egestas lorem. Duis tortor velit, elementum quis vestibulum eu, feugiat ac urna. Proin vulputate eu orci at scelerisque. Pellentesque vitae tortor ut diam convallis scelerisque id et justo. Vestibulum et bibendum dolor, eu vestibulum nisl. Duis fringilla neque non nulla feugiat vestibulum. Pellentesque vestibulum, felis eget facilisis varius, ante urna blandit ipsum, sit amet venenatis massa magna eget nibh.</p>
<p>Enim, lacus, sed interdum tellus ullamcorper adipiscing. Aliquam est rhoncus a leo risus sit nulla facilisi. Nulla cursus tortor velit vitae molestie magnis quis. Velit elit augue nulla etiam. Dui dui augue egestas convallis eleifend neque, amet lacus. Condimentum sapien ut neque, sit. Dui pellentesque nec sed at eu sit sodales commodo, euismod. Pretium purus elit mattis duis. Vitae sit nunc amet nunc. Scelerisque morbi malesuada libero at massa ac. Nisi et, et pellentesque at arcu. Congue orci cras mauris mauris sed etiam. Vulputate morbi hac est est ut volutpat. Rhoncus habitant scelerisque vulputate rhoncus. Arcu neque, est, ut mauris pulvinar elementum.</p>
</div>
</div>
<div>
<h4 class="info-title">Types of Cookies We Use</h4>
<div class="info-block">
<p>Nullam dictum sapien lectus. Fusce sed efficitur eros. Phasellus pretium efficitur mauris, at ullamcorper nunc volutpat sit amet. Maecenas vitae dolor mollis, efficitur dui et, mattis est. Ut eu quam maximus, rutrum eros nec, bibendum justo. Curabitur at dui quis nisl sodales tincidunt a non neque. Phasellus ac finibus ex. Proin at elementum felis. In rhoncus risus et ipsum fermentum accumsan. Proin pellentesque diam quis libero sagittis maximus. Fusce nisi sapien, gravida sed ornare at, molestie a est. Proin posuere laoreet pellentesque. Fusce ullamcorper tortor eget ligula molestie, vel sagittis dui tincidunt.</p>
<p>Vivamus vitae dui sed dui fringilla ullamcorper faucibus ac lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ut facilisis est. Nam dignissim magna ac massa convallis, eu auctor enim tempor. Sed ultrices mattis ligula id auctor.</p>
<ul class="policy-list" role="list">
<li class="policy-list-item">With service providers to help us operate our business</li>
<li class="policy-list-item">For legal reasons, such as compliance with laws or responding to lawful requests</li>
<li class="policy-list-item">With consent from the user</li>
</ul>
</div>
</div>
<div>
<h4 class="info-title">How We Use Cookies</h4>
<p>Mauris vulputate, sapien ac luctus ullamcorper, nunc eros bibendum lectus, nec malesuada diam neque quis libero. Proin maximus suscipit ante. Maecenas fermentum faucibus magna. Nullam posuere, turpis fermentum ultrices maximus, turpis magna lobortis lacus, vitae sollicitudin tortor nunc vitae nibh. Praesent justo enim, cursus sed varius nec, luctus mollis neque. Sed semper lacus in risus consectetur, ac aliquam felis dictum. Praesent libero purus, varius et quam sed, volutpat venenatis ante. Donec ornare leo quis posuere venenatis. Donec at ex ac mauris volutpat ullamcorper. Sed egestas aliquam leo a scelerisque. Duis diam quam, vulputate sit amet leo ac, varius volutpat felis. Proin ornare felis et dui finibus, ac accumsan leo lobortis. Aliquam vehicula commodo semper. Donec in diam laoreet, tincidunt ligula faucibus, imperdiet diam. Integer molestie nisi sed nisl ultrices, eget porttitor sem efficitur.</p>
</div>
<div>
<h4 class="info-title">Managing Cookies</h4>
<p>Nullam dictum sapien lectus. Fusce sed efficitur eros. Phasellus pretium efficitur mauris, at ullamcorper nunc volutpat sit amet. Maecenas vitae dolor mollis, efficitur dui et, mattis est. Ut eu quam maximus, rutrum eros nec, bibendum justo. Curabitur at dui quis nisl sodales tincidunt a non neque. Phasellus ac finibus ex. Proin at elementum felis. In rhoncus risus et ipsum fermentum accumsan. Proin pellentesque diam quis libero sagittis maximus. Fusce nisi sapien, gravida sed ornare at, molestie a est. Proin posuere laoreet pellentesque. Fusce ullamcorper tortor eget ligula molestie, vel sagittis dui tincidunt.</p>
</div>
</div>
</div>
</section>
</div>
</MainLayout>

