---
import OptimizedImage from '../components/OptimizedImage.astro';
import MainLayout from '../layouts/MainLayout.astro';
import Footer from '../components/Footer.astro';

const seo = {
  title: "- Kontrolo | Software ERP y Facturación DIAN",
  description: ""
};
---
<MainLayout seo={seo}>
<div class="page-wrap">
<section class="title-section">
<div class="w-layout-blockcontainer container w-container">
<div class="title-inner">
<div class="subtitle">
<div class="caption w-dyn-bind-empty"></div>
</div>
<h2 class="w-dyn-bind-empty"></h2>
</div>
</div>
</section>
<section class="section to-top">
<div class="w-layout-blockcontainer container w-container">
<div class="review-outer">
<div class="review-main" ><OptimizedImage alt="Característica de software Kontrolo" class="cover-image w-dyn-bind-empty" loading="eager" src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg"/></div>
<div class="review-right" >
<p class="body-large w-dyn-bind-empty"></p>
</div>
</div>
</div>
</section>
</div>
</MainLayout>

