---
import MainLayout from '../layouts/MainLayout.astro';
import Footer from '../components/Footer.astro';

const seo = {
  title: "- Kontrolo | Software ERP y Facturación DIAN",
  description: "Descubre Kontrolo, el software integral que centraliza PMS, ERP y POS con facturación electrónica DIAN. Agenda tu demo gratis."
};
---
<MainLayout seo={seo}>
<div class="page-wrap">
<section class="title-section">
<div class="w-layout-blockcontainer container w-container">
<div class="title-inner">
<div class="subtitle">
<div class="caption">join Us</div>
</div>
<h2 class="title-heading animate-on-scroll animate-fade-up w-dyn-bind-empty"></h2>
</div>
</div>
</section>
<section class="section to-top">
<div class="w-layout-blockcontainer container w-container">
<div class="details-outer">
<div class="details-left">
<div class="details-data" >
<div class="details-info">
<h3>About the Role</h3>
<div class="richtext w-dyn-bind-empty w-richtext"></div>
</div>
<div>
<h3>Key Responsibilities</h3>
<div class="richtext w-dyn-bind-empty w-richtext"></div>
</div>
<div>
<h3>Required Qualifications</h3>
<div class="richtext w-dyn-bind-empty w-richtext"></div>
</div>
<a class="primary-button w-button" href="/contacto">Apply now</a>
</div>
</div>
<div class="details-right" >
<div class="details">
<div class="detail-block">
<h6>Job Type</h6>
<div class="body-small w-dyn-bind-empty"></div>
</div>
<div class="detail-block">
<h6>Experience</h6>
<div class="body-small w-dyn-bind-empty"></div>
</div>
<div class="detail-block">
<h6>Location</h6>
<div class="body-small w-dyn-bind-empty"></div>
</div>
<div class="detail-block">
<h6>Salary</h6>
<div class="body-small w-dyn-bind-empty"></div>
</div>
<div class="detail-block">
<h6>Working Hours</h6>
<div class="body-small w-dyn-bind-empty"></div>
</div>
</div>
<a class="primary-button text-align-center w-button" href="/contacto">Apply now</a>
</div>
</div>
</div>
</section>
<section class="section cta">
<div class="w-layout-blockcontainer container w-container">
<div class="cta-wrap">
<div class="title-wrap">
<div class="title-inner">
<div class="subtitle bg-white">
<div class="caption">COMIENZA HOY</div>
</div>
<h2 class="title-heading animate-on-scroll animate-fade-up"><span class="title-span">Activa Kontrolo </span>y centraliza tu operación en la nube</h2>
</div>
<p class="cta-paragraph">Transforma tu negocio con Kontrolo, la suite de gestión empresarial que integra PMS, ERP y POS con facturación electrónica DIAN, pagos y CRM. Automatiza procesos, reduce errores y toma decisiones con datos en tiempo real.</p>
</div>
<a class="primary-button w-button" href="#">Solicitar demo gratuita</a>
</div>
</div>
</section>
</div>
</MainLayout>

